.projects {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}

.project {
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
}

.project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}

.project img:hover {
  transform: scale(1.05);
}
